<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <variable name="ROOT_LOG_LEVEL" value="${ROOT_LOG_LEVEL:-INFO}"/>

    <property name="log.pattern" value="%date %-5level %logger{5} - %msg%n"/>

    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>false</prettyPrint>
            </jsonFormatter>
            <appendLineSeparator>true</appendLineSeparator>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
        </layout>
    </appender>

    <logger name="jsonLogger" level="TRACE">
        <appender-ref ref="jsonConsoleAppender:-STDOUT"/>
    </logger>

    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="jsonConsoleAppender:-STDOUT"/>
    </root>

</configuration>